@import "./navigation.css";
@import "./container.css";
@import "./views.css";

:root {
	--primary-100: #00abc8;
	--primary-200: #005e6e;
	--white: #fff;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}