.navigation {
	background-color: var(--primary-100);
}

.navigation__options {
	display: flex;
	margin: 0;
	list-style: none;
}

.navigation__option, .navigation__option > a {
	padding: 25px;
	transition: ease-in-out background-color 0.4s;
}

.navigation__option > a {
	color: var(--white);
}

.navigation__option:hover {
	background-color: var(--primary-200);
}